:root {
  max-width: 1060px;
  min-width: 1060px;
  margin: 0 auto;
  font-weight: 500;
  color: #333;
  overflow-x: hidden;
}

@media screen and (max-width: 1259px) {
  #sticky {
    display: none;
  }
}
